# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz

# Testing
coverage/
test-results/

# Next.js build output
.next/
out/

# Production build
build/

# Static export
out/

# Miscellaneous
.DS_Store
*.pem
*.log
*.zip
*.tgz
*.swp

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Vercel
.vercel/

# Typescript
*.tsbuildinfo
next-env.d.ts

# IDE & Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Firebase (if used)
.firebase/

# MacOS-specific
.AppleDouble
.LSOverride

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional lockfiles (if you switch package managers often)
package-lock.json
yarn.lock
pnpm-lock.yaml
